.article{
  position: relative;
  .rm-btn{
    opacity: 0;
  }
}

.content{
  min-height: 20px;
  min-width: 10%;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #336bff;
  display: inline-block;
  //border: 1px solid #e3e3e3;
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.content:before{
  content: "";
  width: 0;
  height: 0;
  border:20px transparent solid;
  border-bottom:20px solid #336bff;
  position: absolute;
  display: block;
  top: 60px;
  left: 40px;
}

.article:hover {
  .rm-btn{
    opacity: 1;
  }
}

.comment{
  .c-rm-btn{
    opacity: 0;
  }
}

.comment:hover {
  .c-rm-btn{
    opacity: 1;
  }
}

.err{
  input{
    border: 1px solid red;
  }
}